{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span><br/>
      <span x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></span>
      <p class="block p-5 text-blue-700 bg-green-200">Did this get added by browser sync?</p>
      <button class="btn btn-primary">Daisy UI button</button>
    </div>
  </div>
{% endblock %}
